body {
  margin: 0;
  background-color: #e7e8d1;
  font-family: "Space Grotesk", sans-serif;
}

/* .main{  
  margin-left: 20%;
  margin-right: 20%;
} */

#navbar {
  /* margin: 0 20%; */
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #A7BEAE;
  /* display: flex; */
}

.navbar-container {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  padding: 45px;
}

.about-title {
  display: flex;
  justify-content: center;
}

.about-profile {
  display: flex;
  justify-content: center;
}

.about-desc {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.skills {
  padding: 45px;
}

.skills-title {
  display: flex;
  padding: 32px;
  background-color: #b85042;
}

.skills-card{
  width:300px;
  align-content: center;
}

.skills-logo{
  width: 100%;
  height: auto;
}

/* .languages{
    background-color: #A7BEAE;
    height: 40vh;
  }

  .languages-container{
    margin: 0 20%;
  } */

img {
  /* width: 75%; */
  height: 300px;
}

@media screen and (max-width: 800px) {
  img {
    height: 450px;
  }
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  float: left;
  padding: 16px;
}
