body {
  margin: 0;
  background-color: #e7e8d1;
}

.container {
  padding: 45px;
}

/* .main{  
  margin-left: 20%;
  margin-right: 20%;
} */

#navbar {
  /* margin: 0 20%; */
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #e7e8d1;
  /* display: flex; */
}

.navbar-container {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  margin: 0 20%;
  justify-content: flex-start;
  height: 40vh;
}

.about-title {
  display: flex;
  justify-content: center;
}

.about-profile {
  display: flex;
  justify-content: center;
}

.about-container {
  /* margin:0 90px; */
  display: flex;
  gap: 45px;
}

.about-desc {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.projects {
  background-color: #b85042;
  height: 40vh;
}

.projects-container {
  margin: 0 20%;
}

/* .languages{
    background-color: #A7BEAE;
    height: 40vh;
  }

  .languages-container{
    margin: 0 20%;
  } */

img {
  /* width: 75%; */
  height: 300px;
}

@media screen and (max-width: 800px) {
  img {
    height: 450px;
  }
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  float: left;
  padding: 16px;
}
